* {
    padding: 0;
    margin: 0;
    background-color: rgb(20, 20, 20);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#f9f9f9
}

.dropdown {
  position: relative;
  box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
  max-width: 132px;
  padding: 5;
  margin: 20px;
  text-align: center;
  background-color: rgb(27, 27, 27);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  max-height: 70;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  text-align: center;
  background-color: rgb(27, 27, 27);
}

.dropdown:hover .dropdown-content {
  display: block;
}
